/*Strip the ul of padding and list styling*/
/*body{
	background: #2f3036;
}*/


ul {
    list-style-type:none;
    /*width: 100%;*/
    margin:0;
    padding:0;
    position: absolute;
    margin-top: -10px;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:265px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 225px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}





#menu{
	margin-top: -70px;
}

.row > .column {
  padding: 0 8px;
}

img{
  width: 100%;
  height: 50%;
}

.row{
  margin-top: 10px;
  margin-left: 35px;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 15%;
  height: 50%;
  /*margin-top: 20px;*/
  margin-bottom: 10px;
  /*margin-left: -10px;*/
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}




/* Next & previous buttons */
.prev{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.18) ;	
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.18) ;	
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Next & previous buttons */
.prev1{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.18) ;	
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 250px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next1 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.18) ;	
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 250px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev1 {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



h3{
	margin-top: 70px;
	margin-left: 40px;
	padding: -40px -40px;
}